<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/HighTechIT-1.0.0/lib/wow/wow.min.js"></script>
<script src="~/HighTechIT-1.0.0/lib/easing/easing.min.js"></script>
<script src="~/HighTechIT-1.0.0/lib/waypoints/waypoints.min.js"></script>
<script src="~/HighTechIT-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>

<script src="~/HighTechIT-1.0.0/js/main.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi6q4mUT8ySYbxlwyjRNHosjAoXXoG_R4&callback=initMap&v=weekly&solution_channel=GMP_CCS_textdirections_v1" defer></script>

<script>
    let directionsRenderer;

  
    function showRouteInfo(response) {
        const route = response.routes[0];
        const sidebar = document.getElementById("sidebar");
        sidebar.innerHTML = ""; 

  
        const routeLength = route.legs[0].distance.text;
        const routeDuration = route.legs[0].duration.text;

   
        const routeInfo = document.createElement("div");
        routeInfo.innerHTML = `
                             <h2>Rota Bilgileri</h2>
                             <p>Toplam Uzunluk: ${routeLength}</p>
                              <p>Tahmini Süre: ${routeDuration}</p>
                                       `;
        sidebar.appendChild(routeInfo);
    }

    function calculateAndDisplayRoute(start, end) {
        const directionsService = new google.maps.DirectionsService();

        directionsService.route({
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        })
            .then((response) => {
                if (!directionsRenderer) {
                    directionsRenderer = new google.maps.DirectionsRenderer();
                    directionsRenderer.setMap(new google.maps.Map(document.getElementById("map"), {
                        zoom: 7,
                        center: { lat: 39.9255, lng: 32.8662 },
                        disableDefaultUI: true,

                    }));
                }

             
                directionsRenderer.setDirections({ routes: [] });

              
                directionsRenderer.setDirections(response);

           
                showRouteInfo(response);
            })
            .catch((e) => {
                window.alert("Directions request failed due to " + e.status);
            });
    }

    function initMap() {

        const control = document.getElementById("floating-panel");
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 7,
            center: { lat: 39.9255, lng: 32.8662 },
            disableDefaultUI: true,

        });

        map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
    }
</script>


